body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  text-align: center;
  color: white;
  background: black url("../img/simple-dark-background-1.jpg") no-repeat;
  background-size: cover; }

/* patterns */
h1 {
    font-size: 3.75em;
}
h2 {
    font-size: 1.875em;
    margin-bottom: 15px;
}
h3 {
    font-size: 20px;
}
.img-responsive {
	width: 400px;
	max-width: 100%;
	max-height: 250px;
}
figure {
	margin-bottom: 15px;
	border: 1px solid white;
	border-radius: 3px;

	figcaption{
		margin: 4px;
	}
}
/* patterns end */


header{
	margin-top:10px;
}

.title-margin{
	margin-bottom: 10px;
}
.subtitle-margin{
	margin-bottom:15px;
	font-size:1.5625em;
	font-style:italic;
}

.nav-menu {
	display:inline-block;
	font-size: 1em;

	 li {
		display: inline;
		padding: 4px;
	}

	a {
		text-decoration: none;
		color: white;
		transition: .5s linear;
	
		&:hover {
			color: #e2dede;
		}
	}

}

/* Header End */
.about{
	margin-top: 20px;

	 h2 {
		text-decoration: none;
		margin-top: -10px;
		margin-bottom: 5px;
	}
}

#about{
	text-align: justify;
	margin: 5px 10px 20px;

	p {
		padding-top: 10px;
		text-indent:1em;
	}
	a {
		color: #ffffff;
		transition: .5s linear;
		
		&:hover {
			color: #f24b4b;
		}
	} 
}

#portfolio{
	display: inline-block;
	padding: 10px;
}
.link-port{
	text-decoration: none;
	color: white;
}
/* About End */

.habilidades{
	display: inline-block;
}
.skills li{
	padding-bottom: 5px;
}
/*Skills end*/
/* footer */
#contacts{
	display: inline-block;

	ul {
		display: inline-block;
		li {
			display: inline;
			img{
				width: 48px;
				height: 48px;
				display: inline;
				padding: 2px;
			}
		}
	}
}
footer{
	h4{
		margin-top: 10px;
	}
}

@media all and (min-width: 400px){
	.nav-menu{
		font-size: 1.30em;
	}
	.skills{
		ul{
			display: inline-block;
		}
			li {
				padding-bottom: 5px;
			    display: inline;
			    padding: 5px;
			    line-height: 20px;	
		}
	}
}