.c-button
  display block
  height 50px
  width 100%
  border 0
  margin-top 5px
  border-radius 5px 
  background-color $mediumblue
  box-shadow 0 2px 0 0 $shadowblue
  transition .3s ease
  color $white
  font-size 1em
  text-transform uppercase
  font-weight 600

  &:hover
    cursor pointer
    background-color $hoverblue