// Colors
$black = #000;
$white = #FFF;
$darkenblue = #263c70;
$mediumblue = #3658a4;
$fontblue = #0087e5;
$fontgold = #b69b1c;
$yellow = #ffdc2c;
$green = #69b42e;
$red = #d01111;
$lightgrey = #f5f5f5;


//Example fonts
Oswald = 'Oswald', sans-serif;

//BreakPoints
tablet = 768px;
small-desk = 1024px;
medium-desk = 1268px;
large-desk = 1368px;