<br>
<div class="container">
  <div class="user-details">
    <h3> Sobre mim </h3>
    <p> Me chamo Gabriel Santos, tenho 19 anos, sou apaixonado por desenvolvimento e sou um Futuro Desenvolvedor Front-End! Sempre curioso sobre o tal "desenvolvimento de software", fuço em tudo que aparece e tento aprender o máximo possível sempre que posso!</p>
  </div>
  <br>
  <div class="row user">
    <div class="four columns">
      <h4>Interface</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Tenho experiência com HTML, CSS, Sass e Bootstrap! Além do Responsive Web!</p>
    </div>
    <div class="four columns">
      <h4>Programação</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-jquery-plain-wordmark"></i>
      <i class="devicon-angularjs-plain-wordmark colored"></i>
      <p>Estou sempre fuçando sobre como as coisas funcionam e, nesse meio tempo, meio que andei mexendo com JavaScript, jQuery e um pouquinho de AngularJs!</p>
    </div>
    <div class="four columns">
      <h4>Ferramentas</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-bower-plain colored""></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <p>Estou sempre tentando otimizar meu tempo e melhorar meu Workflow! Aprendi como utilizar o Git, Bower e faço um pouco de Scrum utilizando o Trello!</p>
    </div>
  </div>
