<div class="container">
  <div class="user-details">
    <h3> Projetos </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Mirro Fashion" src="{{ "/assets/img/project.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Mirror Fashion </h5>
      <li> HTML, CSS, JavaScript</li>
      <p>Meu primeiro projeto feito a partir de uma apostila de estudos. Foi a minha primeira experiência com o Front-End, onde utilizei HTML, CSS e JavaScript!</p>
      <a class="project-link" target="_blank" href="https://github.com/gabriel-brito/Learning-FrontEnd">Visite aqui!</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="Random Quotes Generator" src="{{ "/assets/img/project2.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Random Quotes Generator </h5>
      <ul>
        <li> HTML, CSS, JavaScript, JQuery </li>
      </ul>
      <p>Feito a partir de um projeto do FreeCodeCamp, onde o exercício requisitava um gerador randômico de frases que pudesse Tweetar a frase gerada!</p>
      <a class="project-link" target="_blank" href="http://codepen.io/gabriel-brito/full/VmbvWN/">Visite aqui!</a>
    </div>
  </div>
</div>
