.m-orderby
  display block
  float left
  width 100%
  margin 0 auto 20px

  +above(small-desk)
    width 800px
  
  .m-orderbyWrapper
    display block
    width 100%
    margin 10px auto
    padding 15px 4px
    float left
    border 1px solid $bordergrey
    background-image url('./images/down-arrow.png')
    background-repeat no-repeat
    background-size 12px
    background-position 95% center

    &:last-child
      select
        width 81%

        +between(tablet, small-desk)
          width 73%
        
    +between(tablet, small-desk)
      width 31%
      margin-right 2%
      
    +above(small-desk)
      width 185px
      margin-top 0
      margin-right 30px
      
      &:first-child
        select
          width 32%

      &:nth-child(2)
        width 265px
        
      &:last-child
        select
          width 58%

    span
      display inline-block
      margin-right 5px
      
      font-weight 300
      color $darkenblue
      text-transform uppercase
      
    select
      display inline-block
      background-color transparent
      border 0
      appearance none
      height 100%
      width 58%
      vertical-align top 
      font-size 16px
      font-weight 500
      cursor pointer

      +between(tablet, small-desk)
        width 45%
      
      option
        color $black
      