// Colors
$black = #000;
$white = #FFF;
$shadowblue = #172649;
$darkenblue = #263c70;
$mediumblue = #3658a4;
$triggerblue = #008be0;
$labelblue = #295b9d;
$fontblue = #0087e5;
$hoverblue = #3e67c1;
$fontgold = #876b25;
$yellow = #ffdc2c;
$green = #69b42e;
$red = #d01111;
$bordergrey = #ccc;
$lightgrey = #f5f5f5;


//Fonts
Oswald = 'Oswald', sans-serif;

//BreakPoints
tablet = 768px;
small-desk = 1279px;